<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <li class="active">Personnel</li>
</ul>

<h2>Staff</h2>

<div class="row">
  <% row_count = 0 %>

  <% @staff.each do |staff| %>

    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <%= link_to(person_path(staff), { :class => "thumbnail" }) do %>
            <% if staff.image_url %>
              <%= image_tag(staff.image_url) %>
            <% else %>
              <img src="http://placehold.it/200x160" alt="">
            <% end %>
            <h4><%= staff.name %></h4>
            <p><%= staff.title %></p>
          <% end %>
        </li>
      </ul>
    </div>

    <% if (((row_count+=1) % 4) == 0) %>
      </div>
      <div class="row">
    <% end %>

  <% end %>
</div>

<div class="row">
<div class="span12" style="height: 40px;">&nbsp;<hr>&nbsp;</div>
</div>

<h2>Lay Elders</h2>

<div class="row">
  <% row_count = 0 %>

  <% @lay_elders.each do |lay_elder| %>

    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <%= link_to(person_path(lay_elder), { :class => "thumbnail" }) do %>
            <% if lay_elder.image_url %>
              <%= image_tag(lay_elder.image_url) %>
            <% else %>
              <img src="http://placehold.it/200x160" alt="">
            <% end %>
            <h4><%= lay_elder.name %></h4>
            <p><%= lay_elder.title %></p>
          <% end %>
        </li>
      </ul>
    </div>

    <% if (((row_count+=1) % 4) == 0) %>
      </div>
      <div class="row">
    <% end %>

  <% end %>
</div>

<div class="row">
<div class="span12" style="height: 40px;">&nbsp;</div>
</div>
