%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li About
  %li.active Leadership

%h2 Staff

.section
  .container
    .row
      - @staff.each do |staff|
        .col-md-4.col-sm-6
          .team-member
            .team-member-image
              - if staff.image_url
                = link_to image_tag(staff.image_url), person_path(staff)
              - else
                %img{alt: "", src: "http://placehold.it/200x160"}/
            .team-member-info
              %ul
                %li.team-member-name
                  = link_to staff.name, person_path(staff)
                %li
                  = staff.title


.row
  .span12{style: "height: 40px;"}
    %hr

%h2 Lay Elders

.section
  .container
    .row
      - @lay_elders.each do |lay_elder|
        .col-md-4.col-sm-6
          .team-member
            .team-member-image
              - if lay_elder.image_url
                = link_to image_tag(lay_elder.image_url), person_path(lay_elder)
              - else
                %img{alt: "", src: "http://placehold.it/200x160"}/
            .team-member-info
              %ul
                %li.team-member-name
                  = link_to lay_elder.name, person_path(lay_elder)
                %li
                  = link_to lay_elder.title, person_path(lay_elder)
