%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "About", about_path
  %li
    = link_to "People", people_path
  %li.active= @person.name


.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-6.col-md-offset-2
        %h2
          = @person.name
        %hr

        %h3
          = @person.title

      .col-md-4
        %div{style: "text-align: center; padding-top: 30px"}
          - if @person.image_url
            = image_tag(@person.image_url, :class => 'media-object')
          - else
            = image_tag("http://placehold.it/200x160", :class => 'media-object')

    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
        = @person.content.html_safe

