<h1>Listing sermons</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Sermon series</th>
    <th>Date</th>
    <th>Scripture reference</th>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sermons.each do |sermon| %>
  <tr>
    <td><%= sermon.title %></td>
    <td><%= sermon.sermon_series_id %></td>
    <td><%= sermon.date %></td>
    <td><%= sermon.scripture_reference %></td>
    <td><%= sermon.speaker %></td>
    <td><%= link_to 'Show', admin_sermon_path(sermon), :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_admin_sermon_path(sermon), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', sermon, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sermon', new_admin_sermon_path, :class => 'btn btn-primary' %>
