- content_for :head, auto_discovery_link_tag(:atom, articles_url(format: "atom"))
%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Resources", resources_path
  %li.active Blog

.service-wrapper-simple
  .container

    .col-sm-11.col-sm-offset-1
      .blog-header
        %h1.blog-title The Crossway Blog

    .col-sm-7.col-sm-offset-1.blog-main
      - @articles.each do |article|
        .blog-post
          %h2.blog-post-title= link_to article.title, article
          %p.blog-post-meta
            by #{article.author}  |  #{article.published_at.strftime("%B %d, %Y")}
          %div
            = image_tag article.image_url if article.image?
          = simple_format(article.content, {}, {:sanitize => false})
      = paginate @articles
    .col-sm-3.col-sm-offset-1.blog-sidebar
      .sidebar-module.sidebar-module-inset
        %h4 About
        %p
          The Crossway blog is written by Crossway staff and covenant members.

      .sidebar-module
        %h4 More Blog Entries
        %ol.list-unstyled
          - @recent_articles.each do |article|
            %li{style: "margin-bottom: 10px;"}
              %i.fa.fa-icon-chevron-right
              = link_to article.title, article

      .sidebar-module
        = link_to articles_url(format: "atom"), :class => "btn btn-small" do
          %i.fa.fa-rss
          &nbsp; Subscribe to Blog &nbsp; 
          %i.fa.fa-angle-double-right
