<h1>Listing sermon_series</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Description</th>
    <th>Banner image</th>
    <th>Button image</th>
    <th>Current series</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sermon_series.each do |sermon_series| %>
  <tr>
    <td><%= sermon_series.title %></td>
    <td><%= sermon_series.start_date %></td>
    <td><%= sermon_series.end_date %></td>
    <td><%= sermon_series.description %></td>
    <td><%= sermon_series.banner_image %></td>
    <td><%= sermon_series.button_image %></td>
    <td><%= sermon_series.current_series %></td>
    <td><%= link_to 'Show', sermon_series %></td>
    <td><%= link_to 'Edit', edit_sermon_series_path(sermon_series) %></td>
    <td><%= link_to 'Destroy', sermon_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sermon series', new_sermon_series_path %>
