<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Resources", resources_path %> <span class="divider">/</span></li>
  <li class="active">Sermon Series</li>
</ul>

<p id="notice"><%= notice %></p>

<h2>Sermon Series</h2>

<div class="row">
  <div class="span12">
    <div class="images">
    <%= link_to image_tag(@current_sermon_series.banner_image_url, :class => "captify",
                          :alt => "Current Sermon Series - #{@current_sermon_series.title}"), @current_sermon_series,
              { :title => "Current Sermon Series - #{@current_sermon_series.title}"} if @current_sermon_series.banner_image? %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;">&nbsp;</div>
</div>

<div class="row">
  <% row_count = 0 %>

  <% @sermon_series.each do |sermon_series| %>

    <div class="span3">
      <div class="images">
      <%= link_to image_tag(sermon_series.button_image_url, :class => "captify",
                            :alt => "#{sermon_series.title}"), sermon_series,
                { :title => "#{sermon_series.title}"} if sermon_series.button_image? %>
      </div>

    </div>

    <% if (((row_count+=1) % 4) == 0) %>
      </div>
      <div class="row">
    <% end %>

  <% end %>
</div>

