%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Resources", resources_path
  %li
    = link_to "Sermon Series", { :action => 'index', :controller => 'sermon_series' }
  %li.active= @sermon_series.title

.row
  .col-md-3
    = image_tag @sermon_series.button_image_url
  .col-md-9
    %h2= @sermon_series.title
    %h5= @sermon_series. description
    %p
      %i
        = @sermon_series.start_date.strftime("%b %d, %Y")
        \-   #{@sermon_series.end_date.strftime("%b %d, %Y")}
.row
  .span12{style: "height: 40px;"}

.row
  - sermon_count = 1
  - @sermons.each do |sermon|
    .col-sm-6.col-md-4
      .thumbnail
        = link_to(sermon, { :class => "thumbnail" }) do
          = image_tag(@sermon_series.button_image_url, :alt => @sermon_series.title)
        .caption
          %h4= "#{sermon_count}. #{sermon.title}"
          %p
            %strong= sermon.speaker
          %p= sermon.scripture_reference

