<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Resources", resources_path %> <span class="divider">/</span></li>
  <li><%= link_to "Sermon Series", { :action => 'index', :controller => 'sermon_series' } %> <span class="divider">/</span></li>
  <li class="active"><%= @sermon_series.title %></li>
</ul>

<p id="notice"><%= notice %></p>

<div class="row one-column">

  <div class="span3">
    <%= image_tag @sermon_series.button_image_url %>
  </div>

  <div class="span9">

    <h2><%= @sermon_series.title %></h2>

    <h5><%= @sermon_series. description %></h5>

    <p>
      <i><%= @sermon_series.start_date.strftime("%b %d, %Y") %> -   <%= @sermon_series.end_date.strftime("%b %d, %Y") %></i>
    </p>

  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;">&nbsp;</div>
</div>

<div class="row">
  <% row_count = 0 %>

  <% @sermons.each do |sermon| %>

    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <%= link_to(sermon, { :class => "thumbnail" }) do %>
            <%= image_tag(@sermon_series.button_image_url, :alt => @sermon_series.title) %>
            <h4><%= sermon.title %></h4>
            <p><strong><%= sermon.speaker %></strong></p>
            <p><%= sermon.scripture_reference %></p>
          <% end %>
        </li>
      </ul>
    </div>

    <% if (((row_count+=1) % 4) == 0) %>
      </div>
      <div class="row">
    <% end %>

  <% end %>
</div>
