<%= simple_form_for @sermon_series, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <% if @sermon_series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sermon_series.errors.count, "error") %> prohibited this sermon_series from being saved:</h2>

      <ul>
      <% @sermon_series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :start_date, :as => :date, :start_year => 2009,
                           :end_year => Date.today.year + 1, :discard_day => true,
                           :order => [:month, :year] %>

   <%= f.input :end_date, :as => :date, :start_year => 2009,
                            :end_year => Date.today.year + 1, :discard_day => true,
                            :order => [:month, :year] %>

  <%= f.input :description, :as => :text, :input_html => { :class => 'input-xlarge', :rows => 5 } %>

  <%= f.input :banner_image, :as => :file %>
  <%= f.input :button_image, :as => :file %>
  
  <%= f.input :current_series %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>

<% end %>
