<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Resources", resources_path %> <span class="divider">/</span></li>
  <li><%= link_to "Sermon Series", { :action => 'index', :controller => 'sermon_series' } %> <span class="divider">/</span></li>
  <li><%= link_to "#{@sermon_series.title}", @sermon_series %> <span class="divider">/</span></li>
  <li class="active"><%= @sermon.title %></li>
</ul>

<p id="notice"><%= notice %></p>

<div class="row one-column">

  <div class="span8">
    <div class="pull-left" style="margin: 14px;">
      <%= image_tag @sermon_series.button_image_url %>
    </div>
    <div class="media-body">
      <h4><%= @sermon.title %></h4>

      <p><%= @sermon.scripture_reference %></p>
      <p><%= @sermon.speaker %></p>
    
      <p>
        <i><%= @sermon.date.strftime("%b %d, %Y") %></i>
      </p>
    </div>
    
    <div class="clearfix"></div>

    <div class="well well-small span5">
      <h3>Listen</h3>
      <audio controls="controls" loop="loop">
        <source src="<%= @sermon.audio_file_url %>" type="audio/mpeg" />
      </audio>

      <p><%= link_to "Download MP3 (Right-click and click 'Save As')", @sermon.audio_file_url %></p>
    </div>
    
    <% if @sermon.video_embed.length > 0 %>
      <div class="well well-small span7">
        <h3>Watch Clip</h3>
        <iframe src="http://player.vimeo.com/video/<%= @sermon.video_embed %>?byline=0&portrait=0" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <div class="span3">

      <div class="aside">
        <h5><%= @sermon_series.title %></h5>

        <ul class="unstyled">
          <% @sermons.each do |sermon| %>
          <li style="margin-bottom: 10px;"><i class="icon-chevron-right"></i>&nbsp;<%= link_to sermon.title, sermon %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
