<%= simple_form_for([:admin, @person], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :content, as: :text, :input_html => { :rows => 7 , :style => 'width: 100%'} %>
    <%= f.input :image, :as => :file %>
    <%= f.input :role, :input_html => { :class => 'span2' }, :collection => { "Staff" => 1, "Lay Elder" => 2 } %>
    <%= f.input :display_order, :input_html => { :class => 'span2' }, :collection => { 1 => 1, 2 => 2, 3 => 3, 4 => 4, 5 => 5, 6 => 6 } %>
    <%= f.input :enabled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
