%ul.breadcrumb
  %li= link_to "Home", root_path
  %li.active Connect
.row
  .col-md-4
    .content
      = link_to image_tag("connect/community-groups.png"), :controller => 'site', :action => 'community_groups'
  .col-md-4
    .content
      = link_to image_tag("connect/family-ministries.png"), :controller => 'site', :action => 'family_ministries'
  .col-md-4
    .content
      = link_to image_tag("connect/outreach-ministries.png"), :controller => 'site', :action => 'outreach_ministries'
.row
  .col-md-4
    .content
      = link_to image_tag("connect/service-ministries.png"), :controller => 'site', :action => 'service_ministries'
  .col-md-4
    .content
      = link_to image_tag("connect/the-city.png"), :controller => 'site', :action => 'the_city'
  .col-md-4
    .content
      = link_to image_tag("connect/creative-ministries.png"), :controller => 'site', :action => 'creative_ministries'

/ Ministries Content
.col-md-12
  .ministries-head
    %h5 Ministries
    %ul
      %li.grid
        %a{href: "#"}
          %i.fa.fa-th-large
          Grid
      %li.list
        %a{href: "#"}
          %i.fa.fa-bars
          List
  .row
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/1.jpg"}/
      %h4
        %a{href: "#"} Men Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/2.jpg"}/
      %h4
        %a{href: "#"} Women Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/3.jpg"}/
      %h4
        %a{href: "#"} Music Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/4.jpg"}/
      %h4
        %a{href: "#"} Youth Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/5.jpg"}/
      %h4
        %a{href: "#"} Family Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/6.jpg"}/
      %h4
        %a{href: "#"} Children's Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/7.jpg"}/
      %h4
        %a{href: "#"} Seniors Ministry
    .col-md-3.ministries-grid
      %img.img-responsive{alt: "", src: "demo/ministries/8.jpg"}/
      %h4
        %a{href: "#"} Prayer Ministry
/ Ministries Content