<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Connect</li>
</ul>

<div class="row one-column">

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/community-groups.png"), :controller => 'site', :action => 'community_groups' %>
    </div>
  </div>

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/family-ministries.png"), :controller => 'site', :action => 'family_ministries' %>
    </div>
  </div>

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/outreach-ministries.png"), :controller => 'site', :action => 'outreach_ministries' %>
    </div>
  </div>
</div>

<div class="row one-column">

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/service-ministries.png"), :controller => 'site', :action => 'service_ministries' %>
    </div>
  </div>

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/the-city.png"), :controller => 'site', :action => 'the_city' %>
    </div>
  </div>

  <div class="span4">
    <div class="content">
      <%= link_to image_tag("connect/creative-ministries.png"), :controller => 'site', :action => 'creative_ministries' %>
    </div>
  </div>

</div>

</div>

<div class="row">
  <div class="span12" style="height: 40px;"> </div>
</div>
