%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li About
  %li.active Covenant Membership

.jumbotron
  .row
    .col-md-4
      = image_tag("large-logo.png", :class => 'media-object img-responsive')
    .col-md-8
      %p
        %strong Covenant Membership at Crossway
      %p
        "What does it mean to belong at Crossway Church?"
      %p
        %small
          This is the question that We Are Crossway seeks to answer. We Are Crossway is our Covenant Membership handbook and it is designed to help you understand and participate in the process of becoming a Covenant Member of Crossway Church.
      %p
        %small
          The We Are Crossway handbook is available to download in PDF format.
      = link_to "Download We Are Crossway Handbook", "/pdfs/We-Are-Crossway-Handbook-2.0.pdf", :class => "btn btn-primary btn-large"

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12

        %h2 WE ARE CROSSWAY INVOLVES FOUR IMPORTANT COMPONENTS:
        
        %p
          %strong 1. Teaching –
          Four messages that unpack the meaning of covenant membership at Crossway Church.
        %p 
          %strong 2. Q&A –
          An optional question and answer period with the Crossway elders.
        %p
          %strong 3. Elder Interview –
          Each individual or family has an interview with an elder.
        %p
          %strong 4. Covenant Agreement –
          A solemn agreement to be signed annually.

    .row.service-wrapper-row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12

        %h2 TEACHING
        
        %p The four teaching messages that unpack the meaning of covenent membership are available in both video and audio:
        
        = render partial: "sermon", :locals => { :sermon => @sermon1 }
        = render partial: "sermon", :locals => { :sermon => @sermon2 }
        = render partial: "sermon", :locals => { :sermon => @sermon3 }
        = render partial: "sermon", :locals => { :sermon => @sermon4 }



