<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">God</li>
</ul>

<div class="row one-column">
  <div class="span12 section-header">
    <div class="row">
      <div class="span7">
        <iframe src="http://player.vimeo.com/video/49492247?byline=0&portrait=0" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <div class="span4">
        <h4 class="section-header-text">At Crossway we believe the Bible tells one story, 
          the story of God.</h4>
        <br />
        <p class="section-header-text">
          This story is one that is played out on the pages of history through four
          great acts of God: Creation, Fall, Redemption and Restoration. And this
          great God who writes history also invites us to participate with him
          through the gospel.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;"> </div>
</div>

<div class="row">
  <div class="span3">
    <%= image_tag "god/creation_website_bw.png", :id => "creationBtn", :class => "image-button-selected" %>
  </div>
  <div class="span3">
    <%= image_tag "god/fall_website_bw.png", :id => "fallBtn", :class => "image-button" %>
  </div>
  <div class="span3">
    <%= image_tag "god/redemption_website_bw.png", :id => "redemptionBtn", :class => "image-button" %>
  </div>
  <div class="span3">
    <%= image_tag "god/restoration_website_bw.png", :id => "restorationBtn", :class => "image-button" %>
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 6px;"> </div>
</div>

<div class="row one-column">

  <div class="span12 box-content">
    <div id="creation">
      <h2>Creation</h2>

      <p>The Bible begins at the very beginning. Out of nothing, God creates the heavens and the earth (Genesis 1:1). He forms and fills the cosmos by His word (Genesis 1). Then, as the crown of creation, He makes mankind in His own image and likeness (Genesis 1:26-27). God commissions the first man and woman to reflect His goodness and glory in the earth by wisely and faithfully ruling over what He has made (Genesis 1:28; 2:15. For Adam and Eve, the blessings are many and the stipulations are few (Genesis 2:16-17). Here is a picture of holy and happy harmony in God’s presence and under His blessing (Genesis 2:1-3). “And God saw everything that He had made, and behold, it was very good” (Genesis 1:31).</p>
    </div>

    <div id="fall" style="display: none;">
      <h2>Fall</h2>

      <p>Instead of enjoying God’s blessings and obeying His stipulations, Adam and Eve disregard God’s word and align their life with a lie (Genesis 3:6). Satan deceives them into believing that they can discern what is good on their own apart from God. As a result, Adam and Eve are exiled from Eden (Genesis 3:22-24). Now, shame, distrust, fear and futility have replaced the faithful fellowship with God and with each other that our first parents enjoyed before the Fall. As the head of humanity, Adam’s fallen condition infects us all (Romans 5:12-14). As a result, we are spiritually “dead in our transgressions and sins” and under God’s righteous judgment (Ephesians 2:1-3). We are without true hope because we lack real fellowship with God (Ephesians 2:12). Everyday, we see the ugly and destructive effects of our alienation from God in our own lives, relationships and throughout the world. Sin, suffering and sorrow replaced the holiness, harmony and happiness of God’s original design (Romans 8:20).</p>
    </div>

    <div id="redemption" style="display: none;">
      <h2>Redemption</h2>

      <p>The Bible is the revelation of God’s unfolding plan to rescue people from the power and penalty of sin through the work of Jesus Christ. From the call of Abraham to the Exodus from Egypt; from the giving of the Law at Mt. Sinai to the covenant with King David; from the Babylonian exile to the prophetic promise of a New Covenant, God is moving everything in the biblical narrative toward its fulfillment in the mission and ministry of Jesus (Luke 24:27, 44; Matthew 1:1-17). Through Jesus, God is making a way for people from every tribe and language and race to be reconciled to Himself (Revelation 5:9). By trusting that Jesus lived the faithful life that we should have lived but can’t; by believing that He died in our place and for our sin; and by knowing that He conquered sin, Satan and death through His resurrection, we are restored to a right relationship with God (2 Corinthians 5:19). Because of this, we have a new identity as God’s adopted children (Galatians 4:4-6) and are already partakers and participants in the blessings of God’s holy and happy kingdom (Colossians 1:13-14). Now, through the presence and power of God’s Spirit, we are enabled to walk in newness of life (Romans 6:4) and reflect the glory and goodness of God as we were originally created to do (1 Peter 1:9).</p>
    </div>

    <div id="restoration" style="display: none;">
      <h2>Restoration</h2>

      <p>Jesus’ resurrection is the first of many. When He comes again at the end of the age (Acts 1:11), He will bring a decisive end to all human rebellion and gather His people to Himself. Like a joyful throng at a royal wedding, all God’s children throughout the ages will be resurrected in order to celebrate the return of the King and Creator of all the earth (1 Thessalonians 4:14-17). As those who enter into the fullness of Christ’s glorious kingdom, Christians live in the present with an eye to the future (1 Peter 1:3-9). When the Kingdom comes in its fullness, the effects of the Fall will be abolished and a new heavens and new earth will come into being (Isaiah 66:22-23; Revelation 21:1). In this new creation, adoration of the triune God in all His majesty will capture every heart (Revelation 21:2-4).</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;"></div>
</div>
