.section
  .container
    .row
      .col-sm-12.visible-sm-12.hidden-xs
        .portfolio-item
          .portfolio-image
            = link_to image_tag(@current_sermon_series.banner_image_url.to_s, :class => "banner-image img-responsive", 
                    :"data-caption" => "Most Recent Sermon", :id => "header-image"), @latest_sermon,
                    { :title => "Latest Sermon" } if @current_sermon_series.banner_image?
          .portfolio-info-fade
            %ul
              %li.portfolio-project-name
                = "Latest Sermon, #{@latest_sermon.date.strftime("%b %d, %Y")}"
              %li
                = @latest_sermon.title
              %li
                = @latest_sermon.speaker
              %li.read-more
                = link_to "Listen now", @latest_sermon, :class => "btn"
      .col-xs-12.hidden-sm.hidden-md.hidden-lg
        .portfolio-item
          .portfolio-image
            = link_to image_tag(@current_sermon_series.button_image_url.to_s, :class => "banner-image img-responsive", 
                    :"data-caption" => "Most Recent Sermon", :id => "header-image"), @latest_sermon,
                    { :title => "Latest Sermon" } if @current_sermon_series.banner_image?
          .portfolio-info-fade
            %ul
              %li.portfolio-project-name
                = "Latest Sermon, #{@latest_sermon.date.strftime("%b %d, %Y")}"
              %li
                = @latest_sermon.title
              %li
                = @latest_sermon.speaker
              %li.read-more
                = link_to "Listen now", @latest_sermon, :class => "btn"

.section
  .container
    .row
      .col.xs-12
        .col-md-4.col-sm-6
          .service-wrapper{style: "height: 320px;"}
            = image_tag "icons/visit.png"
            %h3 Visit
            %p Our worship service begins at 10AM on Sundays, we'd love you to join us. Everyone is welcome.
            = link_to "Find out more", visit_path, :class => "btn"
        .col-md-4.col-sm-6
          .service-wrapper{style: "height: 320px;"}
            = image_tag "icons/info_centre.png"
            %h3 Connect
            %p Learn more about Crossway and our ministries and find out how you can get involved.
            = link_to "Connect with us", visit_path, :class => "btn"
        .col-md-4.col-sm-6
          .service-wrapper{style: "height: 320px;"}
            = image_tag "icons/resources.png"
            %h3 Resources
            %p Explore our sermon archive, visit our blog and explore some recommended resources.
            = link_to "Visit Resources", resources_path, :class => "btn"

-#
  .row
    .col-md-10.col-md-offset-1
      .col-md-3.col-sm-6
        .portfolio-item
          .portfolio-image
            = link_to image_tag(@previous_sermon_series.button_image_url.to_s,
            :"data-caption" => "Sermon Series Archive", :"data-src" => @previous_sermon_series.button_image_url.to_s),
            { :action => 'index', :controller => 'sermon_series', :title => "Sermon Archive"}
          .portfolio-info-fade
            %ul
              %li{class:"portfolio-project-name"} Sermon Archive
              %li{class:"read-more"}
                %a{:href => "#", :class => "btn", :role => "button"}
                  Visit
      .col-md-3.col-sm-6
        .portfolio-item
          .portfolio-image
            = link_to image_tag("home/meetthestaff_button.png", :"data-caption" => "Meet the Elders"), people_path
          .portfolio-info-fade
            %ul
              %li{class:"portfolio-project-name"} Leadership
              %li{class:"read-more"}
                = link_to "Meet the Elders", people_path, :class => "btn", :role => "button"
      .col-md-3.col-sm-6
        .portfolio-item
          .portfolio-image
            = link_to image_tag("home/home_blog.png", :"data-caption" => "Visit the Blog"), articles_path
          .portfolio-info-fade
            %ul
              %li{class:"portfolio-project-name"} Crossway Blog
              %li{class:"read-more"}
                %a{:href => "#", :class => "btn", :role => "button"}
                  Visit the Blog
      .col-md-3.col-sm-6
        .portfolio-item
          .portfolio-image
            = link_to image_tag("home/home_news.png", :"data-caption" => "Latest News"), news_path
          .portfolio-info-fade
            %ul
              %li{class:"portfolio-project-name"} Latest News
              %li{class:"read-more"}
                %a{:href => "#", :class => "btn", :role => "button"}
                  View News


.section
  .container
    .row
      .col.xs-12.col-md-10.col-md-offset-1
        .row
          .col-md-6
            %table.events-list
              %thead
                %tr
                  %th{colspan: "3"}
                    %h4
                      = link_to "From the Blog", articles_path
              %tbody
                - @articles.each do |article|
                  %tr
                    %td
                      .event-date
                        .event-day
                          = article.published_at.strftime("%d")
                        .event-month
                          = article.published_at.strftime("%b")
                    %td
                      = link_to article.title, article
                    %td
                      = link_to "Read More", article, :class => "btn btn-grey btn-sm event-more"
          .col-md-6
            %table.events-list
              %thead
                %tr
                  %th{colspan: "3"}
                    %h4 
                      = link_to "Latest News", news_path
              %tbody
                - @entries.each do |entry|
                  %tr
                    %td
                      .event-date
                        .event-day
                          = entry.published.strftime("%d")
                        .event-month
                          = entry.published.strftime("%b")
                    %td
                      = link_to entry.title, entry.url
                    %td
                      = link_to "Read More", entry.url, :class => "btn btn-grey btn-sm event-more"