
<div class="row">
  <div class="span12" style="height: 20px;">&nbsp;</div>
</div>

<div class="row">
  <div class="span12">
    <div class="images">
    <%= link_to image_tag(@current_sermon_series.banner_image_url, :class => "captify",
                          :alt => "Most Recent Sermon"), @latest_sermon,
              { :title => "Latest Sermon"} if @current_sermon_series.banner_image? %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;">&nbsp;</div>
</div>

<div class="row">
  <div class="span3">
    <%= link_to image_tag(@previous_sermon_series.button_image_url, :class => "captify", 
                          :alt => "Sermon Series Archive"), 
                          { :action => 'index', :controller => 'sermon_series', :title => "Sermon Archive"} %>
  </div>
  <div class="span3">
    <%= link_to image_tag("home/staff_button.png", :class => "captify", :alt => "Meet the Staff"), identity_staff_path %>

  </div>
  <div class="span3">
    <%= link_to image_tag("home/home_blog.png", :class => "captify", :alt => "The Crossway Blog"), articles_path %>

  </div>
  <div class="span3">
    <%= link_to image_tag("home/home_news.png", :class => "captify", :alt => "Latest News"), news_path %>

  </div>
</div>

<div class="row">
  <div class="span12" style="height: 40px;">&nbsp;</div>
</div>

<div class="row">
  <div class="span6">
    <table class="table table-striped">
      <tr>
        <th colspan="2"><h4>From the Blog</h4></th>
      </tr>
      <% @articles.each do |article| %>
        <tr>
          <td style="width: 110px;">
            <%= article.published_at.strftime("%b %d, %Y") %>
          </td>
          <td>
            <%= link_to article.title, article %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="span6">
    <table class="table table-striped">
      <tr>
        <th colspan="2"><h4>Latest News</h4></th>
      </tr>
      <% @entries.each do |entry| %>
        <tr>
          <td style="width: 110px;">
            <%= entry.published.strftime("%b %d, %Y") %>
          </td>
          <td>
            <%= link_to entry.title, entry.url %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

