<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Identity</li>
</ul>

<div class="row">
  <div class="span6">
    <%= link_to image_tag("identity/statement-of-faith.png"), :controller => 'site', :action => 'statement_of_faith' %>
  </div>
  <div class="span6">
    <%= link_to image_tag("identity/recommended-ministries.png"), :controller => 'site', :action => 'recommended_ministries' %>
  </div>
</div>

<div class="row">
  <div class="span6">
    <%= link_to image_tag("identity/staff.png"), :controller => 'people', :action => 'staff' %>
  </div>
  <div class="span6">
    <%= link_to image_tag("identity/lay-elders.png"), :controller => 'people', :action => 'lay_elders' %>
  </div>
</div>