%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider /
  %li
    = link_to "Identity", identity_path
    %span.divider /
  - if @elder_profile
    %li
      = link_to "Lay Elders", :controller => "site", :action => "lay_elders"
      %span.divider /
    %li.active= @elder_profile.name
  - else
    %li.active Lay Elders
- if @elder_profile
  .row
    .col-md-3
      - if @elder_profile.image_url
        = image_tag(@elder_profile.image_url)
      - else
        %img{alt: "", src: "http://placehold.it/200x160"}/
    .col-md-6
      %h2= @elder_profile.name
      %p= @elder_profile.title
    .col-md-3
      .aside
        %h5 Lay Elders
        %ul.unstyled
          - @lay_elders.each do |lay_elder|
            %li{style: "margin-bottom: 10px;"}
              %i.icon-chevron-right>
               #{link_to lay_elder.name, { :controller => "site", :action => "lay_elders", :id => lay_elder.id }}
  .row
    .col-md-12
      = @elder_profile.content.html_safe
- else
  %h2 Lay Elders
  .row
    - row_count = 0
    - @lay_elders.each do |lay_elder|
      .col-md-3
        %ul.thumbnails
          %li.col-md-3
            = link_to({ :controller => "site", :action => "lay_elders", :id => lay_elder.id }, { :class => "thumbnail" }) do
              - if lay_elder.image_url
                = image_tag(lay_elder.image_url)
              - else
                %img{alt: "", src: "http://placehold.it/200x160"}/
              %h4= lay_elder.name
              %p= lay_elder.title
      - if (((row_count+=1) % 4) == 0)
  .row
.row
  .col-md-12{style: "height: 40px;"}  