%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li Connect
  %li.active Ministries

.service-wrapper-simple
  .container
    .row.service-wrapper-row
      .col-md-12
        %h2 Ministries

  .row
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/care_hospitality.png"
        %h3 Care & Hospitality
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/coffee_bar.png"
        %h3 Coffee Bar
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/community_groups.png"
        %h3 Community Groups
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/counters.png"
        %h3 Counters
  .row
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/crossculture.png"
        %h3 CrossCulture
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/crossway_kids.png"
        %h3 CrosswayKids
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/discipleship_groups.png"
        %h3 Discipleship Groups
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/global_missions.png"
        %h3 Global Missions
  .row
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/graphics.png"
        %h3 Graphics
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/info_centre.png"
        %h3 Info Centre
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/local_missions.png"
        %h3 Local Missions
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/lords_supper.png"
        %h3 Lord's Supper

  .row
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/music.png"
        %h3 Music
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/parking.png"
        %h3 Parking
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/projection.png"
        %h3 Projection
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/recording.png"
        %h3 Recording
  .row
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/resources.png"
        %h3 Resources
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/security.png"
        %h3 Security
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/set_design.png"
        %h3 Set Design
    .col-md-3.col-sm-6
      .service-wrapper-plain
        = image_tag "ministries/setup.png"
        %h3 Setup