<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <li class="active">Recommended Ministries</li>
</ul>

<h2>Recommended Ministries</h2>

<div class="row">
  <div class="span4">
    <%= link_to image_tag("ministries/desiringgod-logo.jpg", :class => "captify", :alt => "Desiring God"),
         "http://www.desiringgod.org", :target => "blank" %>
  </div>
  <div class="span4">
   <%= link_to image_tag("ministries/church-planting-bc.jpg", :class => "captify", :alt => "Church Planting BC"),
        "http://www.churchplantingbc.com/", :target => "blank" %>
  </div>
  <div class="span4">
    <%= link_to image_tag("ministries/the-gospel-coalition.jpg", :class => "captify", :alt => "The Gospel Coalition"),
         "http://www.desiringgod.org", :target => "blank" %>
  </div>
</div>

</div>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
