%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Identity", identity_path
  %li.active Recommended Ministries
%h2 Recommended Ministries
.row
  .col-md-4
    = link_to image_tag("ministries/desiringgod-logo.jpg", :class => "captify", :alt => "Desiring God"), |
      "http://www.desiringgod.org", :target => "blank"                                                   |
  .col-md-4
    = link_to image_tag("ministries/church-planting-bc.jpg", :class => "captify", :alt => "Church Planting BC"), |
      "http://www.churchplantingbc.com/", :target => "blank"                                                     |
  .col-md-4
    = link_to image_tag("ministries/the-gospel-coalition.jpg", :class => "captify", :alt => "The Gospel Coalition"), |
      "http://thegospelcoalition.org/", :target => "blank"                                                           |
.row
  .col-md-12{style: "height: 40px;"}  