%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li
    = link_to "Resources", resources_path
  %li.active Recommended Resources



.service-wrapper-simple
  .container
  
    .row.service-wrapper-row
      .col-md-10.col-md-offset-1.col-xs-12

        %h2 Recommended Ministries

        .row
          .col-md-4
            = link_to image_tag("c2c-network.jpg", :class => 'media-object  img-responsive', :alt => "C2C"), |
              "http://www.c2cnetwork.ca/", :target => "blank"
          .col-md-4
            = link_to image_tag("recommended/desiringgod-logo.jpg", :class => "media-object  img-responsive", :alt => "Desiring God"), |
              "http://www.desiringgod.org", :target => "blank"                                                   |
        .row
          .col-md-4
            = link_to image_tag("recommended/the-gospel-coalition.jpg", :class => "media-object  img-responsive", :alt => "The Gospel Coalition"), |
              "http://thegospelcoalition.org/", :target => "blank"                                                           |
          .col-md-4
            = link_to image_tag("recommended/wycliffe.jpg", :class => "media-object  img-responsive", :alt => "Wycliffe"), |
              "http://www.wycliffe.org/", :target => "blank"                                                           |

%br

.service-wrapper-simple
  .container

    .row.service-wrapper-row
      .col-md-10.col-md-offset-1.col-xs-12

        %h2 Crossway Bible Reading Plan

        %row
          .col-md-4
            = link_to image_tag("resources/bible-reading-plan-img.png", :class => 'media-object  img-responsive', :alt => "Crossway Bible Reading Plan"), |
              "/pdfs/crossway-bible-reading-plan.pdf", :target => "blank"
-#
  .service-wrapper-simple
    .container
  
      .row.service-wrapper-row
        .col-md-10.col-md-offset-1.col-xs-12

          %h2 Recommended Books
        
          - @books.each do |book|
            .col-md-4
              = book.title

