%ul.breadcrumb
  %li
    = link_to "Home", root_path
  %li.active Resources

.section
  .container
    .row
      .col-md-4.col-sm-6
        .service-wrapper{style: "height: 320px;"}
          = image_tag "icons/chat.png"

          %h3 Sermon Library
          %p Explore Crossway's extensive sermon library and freely listen online or download sermons.
          = link_to "Visit", { :action => 'index', :controller => 'sermon_series', :title => "Sermon Library"}, :class => "btn"
      .col-md-4.col-sm-6
        .service-wrapper{style: "height: 320px;"}
          = image_tag "icons/ruler.png", :alt => "The Crossway Blog"
          %h3 The Crossway Blog
          %p Read blog articles written by Crossway staff and covenant members.
          = link_to "Read more", articles_path, :class => "btn"
      .col-md-4.col-sm-6
        .service-wrapper{style: "height: 320px;"}
          = image_tag "icons/box.png", :alt => "Recommended Resources"
          %h3 Recommended Resources
          %p We have compiled a list of recommended resources for you including websites and books.
          = link_to "Read more", recommended_resources_path, :class => "btn"


