<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Identity", identity_path %> <span class="divider">/</span></li>
  <% if @staff_profile %>
  <li><%= link_to "Staff", :controller => "site", :action => "staff" %> <span class="divider">/</span></li>
    <li class="active"><%= @staff_profile.name %></li>
  <% else %>
    <li class="active">Staff</li>
  <% end %>
</ul>

<% if @staff_profile %>

  <div class="row">

    <div class="span9">
      <div class="media">
        <a class="pull-left">
          <% if @staff_profile.image_url %>
            <%= image_tag(@staff_profile.image_url, :class => 'media-object') %>
          <% else %>
            <%= image_tag("http://placehold.it/200x160", :class => 'media-object') %>
          <% end %>
        </a>
        <div class="media-body">
          <h3 class="media-heading"><%= @staff_profile.name %></h3>
          <h4><%= @staff_profile.title %></h4>
        </div>
      </div>
    </div>

    <div class="span3">

      <div class="aside">
        <h5>Staff</h5>

        <ul class="unstyled">
          <% @staff.each do |staff| %>
          <li style="margin-bottom: 10px;"><i class="icon-chevron-right"></i>&nbsp;<%= link_to staff.name, { :controller => "site", :action => "staff", :id => staff.id } %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <%= @staff_profile.content %>
    </div>
  </div>

<% else %>

<h2>Staff</h2>

<div class="row">
  <% row_count = 0 %>

  <% @staff.each do |staff| %>

    <div class="span3">
      <ul class="thumbnails">
        <li class="span3">
          <%= link_to({ :controller => "site", :action => "staff", :id => staff.id }, { :class => "thumbnail" }) do %>
            <% if staff.image_url %>
              <%= image_tag(staff.image_url) %>
            <% else %>
              <img src="http://placehold.it/200x160" alt="">
            <% end %>
            <h4><%= staff.name %></h4>
            <p><%= staff.title %></p>
          <% end %>
        </li>
      </ul>
    </div>

    <% if (((row_count+=1) % 4) == 0) %>
      </div>
      <div class="row">
    <% end %>

  <% end %>
</div>

</div>

<% end %>

<div class="row">
<div class="span12" style="height: 40px;"> </div>
</div>
