<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Resources", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Blog", root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @post.title %></li>
</ul>


<div class="row one-column">

  <div class="span9">

    <h3><%= @post.title %></h3>

    <p>by <%= @post.author %> | <%= @post.post_date.strftime("%B %d, %Y") %></p>
    </p>

  </div>
  
  <div class="span3">
    
    <button class="btn btn-small"><i class="icon-rss"></i>&nbsp;Subscribe to Blog</button>
  </div>

</div>

<hr>

<div class="row one-column">

  <div class="span7">
    
    <%= simple_format @post.content %>

  </div>
  
  <div class="span2">
    
    <div style="padding-left: 25px;">
      <p><button class="btn btn-small" style="width: 80px;"><i class="icon-twitter"></i>&nbsp;Tweet</button></p>
      <p><button class="btn btn-small" style="width: 80px;"><i class="icon-envelope"></i>&nbsp;Email</button></p>
      <p><button class="btn btn-small" style="width: 80px;"><i class="icon-print"></i>&nbsp;Print</button></p>
    </div>
  </div>
  
  <div class="span3">
    
    <div class="aside">
      <h5>Recent Blog Entries</h5>
    
      <ul class="unstyled">
        <% @posts.each do |post| %>
          <li style="margin-bottom: 10px;"><i class="icon-chevron-right"></i>&nbsp;<%= link_to post.title, post %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>