/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, html_options = { :class => 'crossway-brand' } do
        = image_tag("header-logo.png", class: "mini-logo") 
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        = navbar_list_item "Visit", visit_path
        = navbar_list_item "God", god_path
        %li{class: current_page?(connect_path) ? 'dropdown active' : 'dropdown'}
          = link_to "#", class: "dropdown-toggle", :"data-toggle" => "dropdown" do
            CONNECT <b class='caret'></b>
          %ul{class: "dropdown-menu"}
            %li
              = link_to "Sunday Gatherings", :controller => 'site', :action => 'sunday_gatherings'
            %li
              = link_to "Community Groups", :controller => 'site', :action => 'community_groups'
            %li
              = link_to "Discipleship Groups", :controller => 'site', :action => 'discipleship_groups'
            %li
              = link_to "CrosswayKids", :controller => 'site', :action => 'crosswaykids'
            %li
              = link_to "Ministries", :controller => 'site', :action => 'ministries'
            %li
              = link_to "The City", :controller => 'site', :action => 'the_city'
        = navbar_list_item "Resources", resources_path
        = navbar_list_item "Give", give_path
        %li{class: current_page?(about_path) ? 'dropdown active' : 'dropdown'}
          = link_to "#", class: "dropdown-toggle", :"data-toggle" => "dropdown" do
            ABOUT <b class='caret'></b>
          %ul{class: "dropdown-menu"}
            %li
              = link_to "Statement of Faith", :controller => 'site', :action => 'statement_of_faith'
            %li
              = link_to "Covenant Membership", :controller => 'site', :action => 'covenant_membership'
            %li
              = link_to "Affiliations", :controller => 'site', :action => 'affiliations'
            %li
              = link_to "Leadership", people_path
            %li
              = link_to "Contact Us", contact_path
      %ul.nav.navbar-nav.navbar-right.hidden-sm
        = navbar_list_item "The City", "https://crosswaycc.onthecity.org", :target => "blank"
